<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main>
  <!-- wp:query-title {"type":"author"} /-->
  <!-- wp:query {"queryId":4,"query":{"perPage":10,"postType":"post","author":"","inherit":true}} -->
    <div class="wp-block-query">
      <!-- wp:post-template -->
        <!-- wp:post-title {"isLink":true} /-->
        <!-- wp:post-excerpt /-->
      <!-- /wp:post-template -->
      <!-- wp:query-pagination /-->
    </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
