<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main>
  <!-- wp:post-title {"level":1} /-->
  <!-- wp:post-featured-image /-->
  <!-- wp:post-content /-->
  <!-- wp:spacer {"height":"20px"} /-->
  <!-- wp:post-terms {"term":"category","prefix":"رده‌ها: "} /-->
  <!-- wp:post-terms {"term":"post_tag","prefix":"برچسب‌ها: "} /-->
  <!-- wp:comments /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
