<!-- wp:template-part {"slug":"header","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main>
  <!-- wp:query-title {"type":"archive"} /-->
  <!-- wp:term-description /-->
  <!-- wp:query {"queryId":2,"query":{"perPage":10,"postType":"post"}} -->
    <div class="wp-block-query">
      <!-- wp:post-template -->
        <!-- wp:post-title {"isLink":true} /-->
        <!-- wp:post-excerpt /-->
      <!-- /wp:post-template -->
      <!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} /-->
    </div>
  <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
