name: Deploy Theme to Hosting (FTPS)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: FTPS Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server:   ${{ secrets.FTP_HOST_STG }}
          username: ${{ secrets.FTP_USER_STG }}
          password: ${{ secrets.FTP_PASS_STG }}
          port:     ${{ secrets.FTP_PORT_STG }}
          protocol: ftps                # Explicit TLS روی پورت 21
          security: loose               # TLS کمتر سخت‌گیرانه (پرهیز از TLS/ECONNRESET)
          local-dir: ./                 # چون خود ریپو = پوشه‌ی تم
          server-dir: ${{ secrets.REMOTE_PATH_STG }}
          timeout: 180000
          log-level: verbose
          dangerous-clean-slate: false
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
            **/vendor/**
            **/*.map
            wp-content/uploads/**
